* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.block-card {
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.image-container{
    padding: 16px 20px 16px 0;
}

img{
    border-radius: 10px;
    width: 100%;
    height: auto;
}

hr{
    border: none;
    border-top: 1px solid #E0E0E0;
}

.p1{
    background-color: #F3E8FF;
    font-weight: 700;
    color: #4B0082;
    width: 25%;
    padding: 5px 15px;
    border: transparent;
    border-radius: 12px;
}

.pd p {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #595858;
}

.p3{
    padding: 10px 0 20px 2px;
}

@media (max-width: 1350px) {
    .block-card {
        width: 35%;
        margin-top: 5%;
    }

    .p1 {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    .block-card {
        width: 50%;
        margin-top: 3%;
    }

    .p1 {
        width: 40%;
    }
}

@media (max-width: 412px) {
    body {
        overflow-x: hidden;
    }

    .block-card {
        width: 90%;
        margin-top: 1%;
        padding: 10px;
        box-shadow: 4px 4px 10px 0px rgba(85, 85, 85, 0.05);
    }

    .p1 {
        width: auto;
        text-align: center;
        margin-top: 10px;
    }

    .image-container{
        padding: 0;
    }
}